@{
  var identity = User.Identity;
  var name = identity.Name;
  var isAuthenticated = identity.IsAuthenticated;
}

@if(isAuthenticated)
{
  <div>Welcome @name</div>
  <form method="post" asp-controller="Login" asp-action="Logout">
    <button role="button">Logout</button>
  </form>
}
else
{
  <form method="post" asp-controller="Login" asp-action="Login">
    <input name="Name" placeholder="name" required>
    <input type="password" name="Password" placeholder="password" required>
    <button>Login</button>
  </form>
}