@{
  ViewData["Title"] = "Home Page";
}

<table class="table" cellspacing="0" style="border-collapse:collapse;">

  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Password</th>
    <th scope="col">Admin</th>
    <th scope="col">Super User</th>
  </tr>

  <tr>
    <td>
      1
    </td>
    <td>
			admin
    </td>
    <td>
      admin@domain
    </td>
    <td>
      password
    </td>
    <td>
			<i class="fa fa-check text-success"></i>
		</td>
    <td>
      <i class="fa fa-check text-success"></i>
    </td>
  </tr>
  <tr>
    <td>
      2
    </td>
    <td>
      superuser
    </td>
    <td>
      superuser@domain
    </td>
    <td>
      password
    </td>
    <td>
      <i class="fa fa-times text-danger"></i>
    </td>
    <td>
      <i class="fa fa-check text-success"></i>
    </td>
  </tr>
  <tr>
    <td>
      3
    </td>
    <td>
      john
    </td>
    <td>
      john@domain
    </td>
    <td>
      password
    </td>
    <td>
      <i class="fa fa-times text-danger"></i>
    </td>
    <td>
      <i class="fa fa-times text-danger"></i>
    </td>
  </tr>
  <tr>
    <td>
      4
    </td>
    <td>
      jane
    </td>
    <td>
      jane@domain
    </td>
    <td>
      password
    </td>
    <td>
      <i class="fa fa-times text-danger"></i>
    </td>
    <td>
      <i class="fa fa-times text-danger"></i>
		</td>
  </tr>
	
</table>
