<table class="table" cellspacing="0" style="border-collapse:collapse;">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Password</th>
    <th scope="col">Admin</th>
    <th scope="col">Super User</th>
  </tr>
  <tr>
    <td>
      1
    </td>
    <td>
      admin
    </td>
    <td>
      password
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/check.svg#x" />
      </svg>
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/check.svg#x" />
      </svg>
    </td>
  </tr>
  <tr>
    <td>
      2
    </td>
    <td>
      superuser
    </td>
    <td>
      password
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/x.svg#x" />
      </svg>
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/check.svg#x" />
      </svg>
    </td>
  </tr>
  <tr>
    <td>
      3
    </td>
    <td>
      john
    </td>
    <td>
      password
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/x.svg#x" />
      </svg>
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/x.svg#x" />
      </svg>
    </td>
  </tr>
  <tr>
    <td>
      4
    </td>
    <td>
      jane
    </td>
      <td>
      password
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/x.svg#x" />
      </svg>
    </td>
    <td>
      <svg viewBox="0 0 24 24">
        <use href="/img/x.svg#x" />
      </svg>
    </td>
  </tr>
</table>
